{% extends "transcart/layout.html" %}

{% block body %}
    <h2>Add New Item</h2>
    <br>


    {% if user.is_authenticated %}
    <form action="{% url 'create_kr' %}" method="post">
        {% csrf_token %}

        <label>Title:</label>
        <input type="text" class="form-control" placeholder="Title" name="title_data">
        <br>

        <label>Image URL:</label>
        <input type="text" class="form-control" placeholder="URL for Image" name="image_data">
        <br>

        <label>Price:</label>
        <input type="number" min="0" class="form-control" placeholder="Price" name="price_data">
        <br>
        
        <button class="btn btn-success" type="submit">Add New Item</button>
    </form>
    {% endif %}
{% endblock %}